.fengshang_title{
	color: #FF9999;
	text-align: center;
	font-weight: bold;
	padding: 60px;
	font-size: 72px;
	border-bottom: 1px solid #ccc;
}
.fengshang_sub_title{
	color: black;
	font-size: 20px;
	font-weight: normal;
	margin-top: 30px;
}
.fengshang_nav{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}
.fengshang_nav li{
	float: left;
	width: 16%;
	font-size: 20px;
}
.carousel_div{
	background-image: url("/static/pc_front/img/banner.png");
	background-size: cover;
	height: 510px;
}
.carousel_title{
	height: 80px;
	font-size: 22px;
	background-color: rgba(192,192,192,0.4);
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 350px;
}
.fengmian_title{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.fengmian_sub_title{
	font-size: 16px;
	color: rgb(163,163,153);
	text-align: center;
	margin-top: 15px;
}
.fengmian_list{
	width: 100%;
	text-align: center;
	height: 403px;
	margin-top: 30px;
}
.fengmian_list li{
	float: left;
	margin: 1.5rem;
	width: 28%;
	border: 1px solid #ccc;
	height: 403px;
}
.fengmian_list img{
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 235px;
	margin-top: 40px;
}
.fengmian_list p{
	margin-top: 30px;
	text-align: center;
}
.wenhua_part img{
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 229px;
	margin-top: 30px;
}
.wenhua_sub_part:first-child{
	padding-left: 1rem;
	padding-right: 1rem;
}
.wenhua_sub_part:last-child{
	padding-right: 1rem;
}

.jingzhi_left{
	height: 275px;
	margin-top: 50px;
}
.jingzhi_row{
	height: 275px;
}
.jingzhi_left img{
	width: 100%;
	height: 275px;
}
.jingzhi_right{
	height: 275px;
	margin-top: 50px;
}
.jingzhi_label{
	color: white;
	font-weight: bold;
	background-color: #FF0000;
	width: 4rem;
	padding: 0.3rem;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 40px;
}
.jingzhi_title{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}
.jingzhi_description{
	margin-top: 50px;
	text-align: center;
}
.jingzhi_list{
	width: 100%;
	height: 300px;
	margin-top: 50px;
}
.jingzhi_list li{
	float: left;
	width: 30%;
	margin: 1rem;
}
.jingzhi_list img{
	width: 100%;
	height: 138px;
}
.jingzhi_list_label{
	color: white;
	font-weight: bold;
	background-color: #FF0000;
	width: 4rem;
	padding: 0.3rem;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 20px;
}
.jingzhi_list_title{
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}
.lexiang_row{
	margin-bottom: 100px;
}
.lexiang_list{
	width: 100%;
	margin-top: 50px;
}
.lexiang_list li{
	float: left;
	width: 33%;
}
.lexiang_list img{
	width: 100%;
	height: 234px;
}