.pinzhuo_title_row{
	margin-top: 30px;
}
.pinzhuo_title{
	color: #990033;
	font-size: 60px;
}
.pinzhuo_title_ul{
	width: 100%;
	height: 80px;
}
.pinzhuo_title_ul li{
	height: 80px;
	float: left;
	width: 20%;
	text-align: center;
	vertical-align: text-bottom;
	font-size: 24px;
	line-height: 120px;
}
.carousel_div{
	background-size: cover;
	height: 510px;
}
.carousel_title{
	height: 80px;
	font-size: 22px;
	background-color: rgba(192,192,192,0.4);
	color: white;
	font-weight: bold;
	padding-left: 50px;
	margin-top: 350px;
}
.main_ul{
	width: 100%;
}
.main_ul li{
	float: left;
	padding: 1.3rem;
	width: 30%;
}
.main_img1{
	width: 100%;
	height: 150px;
	margin-top: 30px;
}
.main_img2{
	width: 100%;
	height: 227px;
	margin-top: 30px;
}
.main_img3{
	width: 100%;
	height: 315px;
	margin-top: 30px;
}
.main_title{
	margin-top: 20px;
	padding-left: 20px;
}
.main_desc{
	margin-top: 20px;
	padding-left: 20px;
}