.huizhan_title{
	color: #FF9999;
	text-align: center;
	font-weight: bold;
	padding: 60px;
	font-size: 72px;
	border-bottom: 1px solid #ccc;
}
.huizhan_sub_title{
	color: black;
	font-size: 20px;
	font-weight: normal;
	margin-top: 30px;
	margin-left: 300px;
}
.huizhan_nav{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}
.huizhan_nav li{
	float: left;
	width: 16%;
	font-size: 20px;
}
.luntan_title{
	font-weight: bold;
	text-align: center;
	color: #990033;
	font-size: 32px;
	height: 50px;
	line-height: 50px;
}
.main_row{
	height: 371px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.sub_text{
	border: 1px solid black;
	height: 371px;
	text-align: center;
}
.sub_text_title{
	margin-top: 70px;
	font-size: 24px;
	font-weight: bold;
	color: #FF6633;
}
.sub_text_description{
	margin-top: 50px;
	font-size: 20px;
}
.sub_text_more{
	margin: 0 auto;
	margin-top: 60px;
	color: white;
	background-color: #CC3300;
	width: 100px;
	padding: 0.5rem;
}
.sub_img{
	height: 371px;
}
.sub_img img{
	width: 100%;
	height: 371px;
}

.huizhanzixun_title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.zixun_left_img img{
	width: 100%;
}
.zixun_title{
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
.zixun_desc{
	margin-top: 30px;
}
.zixun_right_img img{
	width: 100%;
	height: 160px;
	margin-top: 30px;
}
.zixun_right_desc{
	margin-top: 30px;
}