{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'pc_front/layui/css/layui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'backend/css/base.css' %}">
	<script type="text/javascript" src="{% static 'pc_front/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pc_front/layui/layui.js' %}"></script>
</head>
<body>
<div class="layui-fluid">
{% block content %}
{% block header %}
{% endblock %}

{% block body%}
{% endblock %}

{% endblock %}

{% block footer%}
<div class="layui-row" style="margin-top: 50px;">
  <div class="layui-col-md2 layui-col-md-offset3">
    <img src="#" >
  </div>
  <div class="layui-col-md4">
    <div>{% trans '联系我们' %}</div>
    <div>{% trans '新华网广西频道《行走广西》栏目组' %}</div>
    <div>{% trans '内容合作：xzgxmedia@163.com' %}</div>
    <div>{% trans '微信：xxxxxxxx' %}</div>
    <div>{% trans '微博：xxxxx' %}</div>
  </div>
</div>
<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  {% trans '友情链接' %}
  </div>
</div>

<div class="layui-row" style="padding-bottom: 30px;">
  <div class="layui-col-md1 layui-col-md-offset4">
  {% trans '关于栏目' %}
  </div>
  <div class="layui-col-md1">
  {% trans '新网官网' %}
  </div>
  <div class="layui-col-md1">
  {% trans '合作洽谈' %}
  </div>
  <div class="layui-col-md1">
  {% trans '免责声明' %}
  </div>
</div>
{% endblock %}

</div>
</body>
{% block script %}
{% endblock %}
</html>