{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '八毫米' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_yingshinanguo.css' %}">

<div class="layui-row main_title">
	<div class="layui-col-md4 layui-col-md-offset4">
		<img src="#">
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<ul class="cate_list">
		    <li><a href="{% url 'pc_front:index' %}">{% trans '首页' %}</a></li>
			<li><a href="#">{% trans '区域导航' %}</a></li>
			<li><a href="{% url 'pc_front:beautiful_gx' %}">{% trans '最美广西' %}</a></li>
			<li><a href="{% url 'pc_front:zhiguantianxia' %}">{% trans '直观天下' %}</a></li>
			<li><a href="{% url 'pc_front:xunchengji' %}">{% trans '寻城记' %}</a></li>
			<li><a href="#">{% trans '水墨丹青' %}</a></li>
			<li><a href="{% url 'pc_front:fengshangguangxi' %}">{% trans '风尚广西' %}</a></li>
			<li><a href="{% url 'pc_front:yingshinanguo' %}">{% trans '影视南国' %}</a></li>
			<li><a href="{% url 'pc_front:huizhanfuwu' %}">{% trans '会展策划' %}</a></li>
			<li><a href="{% url 'pc_front:pinzhuorensheng' %}">{% trans '品酌人生' %}</a></li>
		</ul>
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<img src="#" class="xinwang_banner" />
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md6 layui-col-md-offset2">
		<div class="xinwang_title"><span class="xinwang_sub_title1">{% trans '八毫米' %}</span><span class="xinwang_sub_title2">{% trans '移轴延时唯美' %}</span></div>
	</div>

	<div class="layui-col-md2">
		<div class="xinwang_title"><span class="xinwang_sub_title1">{% trans '极致原创' %}</span></div>
	</div>
</div>

<div class="layui-row xinwang_main_row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<div class="layui-row">
			<div class="layui-col-md6">
				<div class="layui-carousel" id="carousel" >
		          <div carousel-item>
			        <div class="carousel_div">
			          <div class="carousel_title">
			            <div>我是标题标题标题<br />我是导语</div>
			            </div>
			          </div>
			          <div class="carousel_div">
			            <div class="carousel_title">
			              <div>我是标题标题标题<br />我是导语</div>
			              </div>
			            </div>
			          <div class="carousel_div">
			            <div class="carousel_title">
			              <div>我是标题标题标题<br />我是导语</div>
			              </div></div>
			          <div class="carousel_div">
			            <div class="carousel_title">
			              <div>我是标题标题标题<br />我是导语</div>
			            </div></div>
		              </div>
	            </div>
			</div>
			<div class="layui-col-md3">
				<ul class="xinwang_carousel_left_ul">
					<li>
					  <div></div>
					</li>
					<li>
					  <div></div>
					</li>
					<li>
					  <div></div>
					</li>
				</ul>
			</div>
		</div>
        
        <div>
			<div class="layui-col-md6">
				<ul class="xinwang_carousel_sub_ul">
					<li><img src="#"></li>
					<li><img src="#"></li>
					<li><img src="#"></li>
					<li><img src="#"></li>
					<li><img src="#"></li>
					<li><img src="#"></li>
				</ul>
			</div>
		</div>

	</div>

	<div class="xinwang_right" ">
			<ul class="xinwang_carousel_right_ul">
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
				<li><div></div></li>
			</ul>
</div>
</div>

<div class="layui-row xinwang_second_row">
	<div class="layui-col-md6 layui-col-md-offset2">
		<ul class="xinwang_second_ul">
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
			<li><img src="#" /><div class="xinwang_second_title">我是标题</div><div class="xinwang_second_desc">我是简介</div></li>
		</ul>
	</div>
</div>



{% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		layui.use('carousel',function(){
			var carousel = layui.carousel;

			carousel.render({
				elem:"#carousel",
				width:"100%",
				height:"425px",
				arrow:"hover",
				indicator:"none"
			})
		})
	})
</script>
{% endblock %}