{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '八毫米' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_yingshinanguo.css' %}">
<link rel="stylesheet" href="{% static 'pc_front/css/swiper.min.css' %}">

<div class="layui-row main_title">
	<div class="layui-col-md4 layui-col-md-offset4">
		<img src="#">
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<ul class="cate_list">
		    <li><a href="{% url 'pc_front:index' %}">{% trans '首页' %}</a></li>
			<li><a href="{% url 'pc_front:quyudaohang' %}">{% trans '区域导航' %}</a></li>
			<li><a href="{% url 'pc_front:beautiful_gx' %}">{% trans '最美广西' %}</a></li>
			<li><a href="{% url 'pc_front:zhiguantianxia' %}">{% trans '直观天下' %}</a></li>
			<li><a href="{% url 'pc_front:xunchengji' %}">{% trans '寻城记' %}</a></li>
			<li><a href="#">{% trans '水墨丹青' %}</a></li>
			<li><a href="{% url 'pc_front:fengshangguangxi' %}">{% trans '风尚广西' %}</a></li>
			<li><a href="{% url 'pc_front:yingshinanguo' %}">{% trans '影视南国' %}</a></li>
			<li><a href="{% url 'pc_front:huizhanfuwu' %}">{% trans '会展策划' %}</a></li>
			<li><a href="{% url 'pc_front:pinzhuorensheng' %}">{% trans '品酌人生' %}</a></li>
		</ul>
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<img src="#" class="xinwang_banner" />
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-md6 layui-col-md-offset2">
		<div class="xinwang_title"><span class="xinwang_sub_title1">{% trans '八毫米' %}</span><span class="xinwang_sub_title2">{% trans '移轴延时唯美' %}</span></div>
	</div>

	<div class="layui-col-md2">
		<div class="xinwang_title"><span class="xinwang_sub_title1">{% trans '极致原创' %}</span></div>
	</div>
</div>

<div class="layui-row xinwang_main_row">
	<div class="layui-col-md8 layui-col-md-offset2">
		<div class="layui-row">
			<div class="layui-col-md6" style="height: 425px;">
				<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
          {% for item in carousel.carouselitem_set.all %}
      <div class="swiper-slide" style="background-image:url(/site_media/{{item.img}});position: relative;">
      <a href="{{item.url}}">
        <div style="position: absolute;bottom: 50px;left: 30px;">
          <div style="color: white;text-align: center;font-weight: bold;font-size: 30px;">{{item.title}}</div>
          <div style="color: white;text-align: center;font-weight: bold;font-size: 18px;">{{item.desc}}</div>
        </div>
      </a>
      </div>
    {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
    {% for item in carousel.carouselitem_set.all %}
      <div class="swiper-slide" style="background-image:url(/site_media/{{item.img}})"></div>
    {% endfor %}
    </div>
  </div>
			</div>
			<div class="layui-col-md3">
				<ul class="xinwang_carousel_left_ul">
				{% for article in main_article %}
				  <a href="{% url 'pc_front:media_detail' article.id %}">
					<li>
					  <div style="background-image: url('/site_media/{{article.cover}}');"></div>
					</li>
				  </a>
				{% endfor %}
				</ul>
			</div>
		</div>
        
        <div>
		</div>

	</div>

	<div class="xinwang_right" ">
			<ul class="xinwang_carousel_right_ul">
			{% for rank in hot_rank %}
				<a href="{% url 'pc_front:media_detail' rank.id %}"><li><div style="background-image: url('/site_media/{{rank.cover}}');"></div></li></a>
			   {% endfor %}
			</ul>
</div>
</div>

<div class="layui-row xinwang_second_row">
	<div class="layui-col-md6 layui-col-md-offset2">
		<ul class="xinwang_second_ul">
		{% for article in articles %}
			<a href="{% url 'pc_front:media_detail' article.id %}"><li><img src="/site_media/{{article.cover}}" /><div class="xinwang_second_title">{{article.title}}</div><div class="xinwang_second_desc">{{article.description}}</div></li></a>
		{% endfor %}
		</ul>
	</div>
</div>


{% if is_paginated %}
<div class="layui-row"> 
<div class="layui-col-md12" style="text-align: center;"> 
    <div class="pagination">  
        <span class="page-links">  
            {% if page_obj.has_previous %}  
                <a class="layui-btn layui-btn-primary" href="/pc_front/bahaomi?page={{ page_obj.previous_page_number }}">上一页</a>  
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <span style="padding: 25px;vertical-align: middle;">{{i}}</span>
            {% else %}
                <a class="layui-btn layui-btn-primary" href="/pc_front/bahaomi?page={{i}}">{{i}}</a>
            {% endif %}
            
            {% endfor %}
            {% if page_obj.has_next %}  
                <a class="layui-btn layui-btn-primary" href="/pc_front/bahaomi?page={{ page_obj.next_page_number }}">下一页</a>  
            {% endif %}  
           <!-- <span class="page-current">  
                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。  
            </span>  -->
        </span>  
    </div>  
</div>
</div>
{%endif%} 


{% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		layui.use('carousel',function(){
			var carousel = layui.carousel;

			carousel.render({
				elem:"#carousel",
				width:"100%",
				height:"425px",
				arrow:"hover",
				indicator:"none"
			})
		})


	var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
	})
</script>
{% endblock %}