{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '封面故事' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_fengshangguangxi.css' %}">

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2 fengshang_title">
  <p>{% trans '风尚广西' %}</p>
  <p class="fengshang_sub_title">{% trans '引领时尚生活' %}</p>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="fengshang_nav">
    <a href="#"><li>{% trans '首页' %}</li></a>
    <a href="#"><li>{% trans '封面故事' %}</li></a>
    <a href="#"><li>{% trans '风尚文化' %}</li></a>
    <a href="#"><li>{% trans '精致女人' %}</li></a>
    <a href="#"><li>{% trans '风尚男士' %}</li></a>
    <a href="#"><li>{% trans '乐享生活' %}</li></a>
    </ul>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="fengmian_banner">
    <div class="fengmian_title">{% trans 'cover' %}</div>
    <div class="fengmian_button">{% trans '封面故事' %}</div>
  </div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <div class="fengmian_what">{% trans '什么是封面故事' %}</div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md6 layui-col-md-offset3">
    <div class="fengmian_description">
      daijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosadaijdscsocnsancosacnsacnsaocsancosa
    </div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="fengmian_list">
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
      <li><img src="#" /></li>
    </ul>
  </div>
</div>
{% endblock %}
{% endblock %}