{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '精选推荐' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_zgtx.css' %}">
<div class="layui-row title_row">
  <div class="layui-col-md1 layui-col-md-offset2 zixun_title">
  {% trans '精选推荐' %}
  </div>

  <div class="layui-col-md8 layui-col-md-offset2">
    <hr class="split" />
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md2 layui-col-md-offset2 shiyou_sub_title">
  {% trans '热门推荐' %}
  </div>
</div>

<div class="layui-row shiyou_carousel">
<div class="layui-col-md8 layui-col-md-offset2">
  <ul class="jingxuan_img_list">
    {% for cover in cover_article %}
    <a href="{% url 'pc_front:article_detail' cover.id %}"><li style="background-image: url('/site_media/{{cover.cover}}')"></li></a>
    {% endfor %}
  </ul>
</div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <ul class="shiyou_list">
    {% for article in articles %}
    <li>
      <img src="/site_media/{{article.cover}}" />
      <p class="shiyou_title">{{article.title}}</p>
      <p class="shiyou_description">{{article.description}}</p>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
{% if is_paginated %}
<div class="layui-row"> 
<div class="layui-col-md12" style="text-align: center;"> 
    <div class="pagination">  
        <span class="page-links">  
            {% if page_obj.has_previous %}  
                <a class="layui-btn layui-btn-primary" href="/pc_front/jingxuantuijian?page={{ page_obj.previous_page_number }}">上一页</a>  
            {% endif %}
            {% if i == page_obj.number %}
                <span style="padding: 25px;vertical-align: middle;">{{i}}</span>
            {% else %}
                <a class="layui-btn layui-btn-primary" href="/pc_front/jingxuantuijian?page={{i}}">{{i}}</a>
            {% endif %}
            {% if page_obj.has_next %}  
                <a class="layui-btn layui-btn-primary" href="/pc_front/jingxuantuijian?page={{ page_obj.next_page_number }}">下一页</a>  
            {% endif %}  
           <!-- <span class="page-current">  
                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。  
            </span>  -->
        </span>  
    </div>  
</div>
</div>
{%endif%} 
{% endblock %}
{% endblock %}


{% block script %}
<style type="text/css">
#carousel_div1{
  background-image: url("/static/pc_front/img/banner.png");
  -webkit-background-size:cover;
  background-size:cover;
  height: 425px;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    layui.use('carousel',function(){
      var carousel = layui.carousel;

      carousel.render({
        elem:"#carousel",
        width:"100%",
        height:"425px",
        arrow:"hover",
      })
    })

    $(".jingxuan_img_list").on("click","li",function(){
      $(".jingxuan_img_list").find("li").css("width","10%")
      $(this).animate({width:"50%"});
    })
  })
</script>
{% endblock %}