{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '民风民俗' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_xcj.css' %}">
<div class="layui-row lvyou_title_row">
  <div class="layui-col-md8 layui-col-md-offset2 lvyou_title">
  {% trans '民风民俗' %}
  </div>
</div>


<div class="layui-row main_row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="lvyou_list">
      <a href="#"><li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li></a>
      <li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li>
      <li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li>
      <li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li>
      <li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li>
      <li>
        <img src="#" />
        <p>我是标题标题标题</p>
      </li>
    </ul>
  </div>
</div>

{% if is_paginated %}
<div class="layui-row"> 
<div class="layui-col-md3 layui-col-md-offset8"> 
    <div class="pagination">  
        <span class="page-links">  
            {% if page_obj.has_previous %}  
                <a href="/backend/setting?page={{ page_obj.previous_page_number }}">上一页</a>  
            {% endif %}  
            {% if page_obj.has_next %}  
                <a href="/backend/setting?page={{ page_obj.next_page_number }}">下一页</a>  
            {% endif %}  
            <span class="page-current">  
                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。  
            </span>  
        </span>  
    </div>  
</div>
</div>
{%endif%}
{% endblock %}
{% endblock %}