{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '品酌人生' %}{% endblock %}
{% block content %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/pinzhuorensheng.css' %}">

<div class="layui-row pinzhuo_title_row">
  <div class="layui-col-md2 layui-col-md-offset2">
    <div class="pinzhuo_title">{% trans '品酌人生' %}</div>
  </div>

  <div class="layui-col-md5 layui-col-md-offset1">
    <ul class="pinzhuo_title_ul">
      <li><a href="{% url 'pc_front:pinzhuodongtai' %}">{% trans '动态' %}</a></li>
      <li><a href="{% url 'pc_front:pinzhuowenhua' %}">{% trans '文化' %}</a></li>
      <li><a href="{% url 'pc_front:pinzhuopinpai' %}">{% trans '品牌' %}</a></li>
      <li><a href="{% url 'pc_front:pinzhuopinjian' %}">{% trans '品鉴' %}</a></li>
      <li>{% trans '售卖' %}</li>
    </ul>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <hr />
  </div>
</div>


<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="layui-carousel" id="carousel" >
		<div carousel-item>
			<div class="carousel_div">
			  <div class="carousel_title">
			    <div>我是标题标题标题<br />我是导语</div>
			  </div>
			</div>
			<div class="carousel_div">
			<div class="carousel_title">
			    <div>我是标题标题标题<br />我是导语</div>
			  </div>
			</div>
			<div class="carousel_div">
			<div class="carousel_title">
			    <div>我是标题标题标题<br />我是导语</div>
			  </div></div>
			<div class="carousel_div">
			<div class="carousel_title">
			    <div>我是标题标题标题<br />我是导语</div>
			  </div></div>
		</div>
	</div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="main_ul">
      <li>
        <img src="#" class="main_img1" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>

        <img src="#" class="main_img3" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>
      </li>
      <li>
        <img src="#" class="main_img2" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>

        <img src="#" class="main_img2" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>
      </li>
      <li>
        <img src="#" class="main_img3" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>

        <img src="#" class="main_img1" />
        <div class="main_title">标题</div>
        <div class="main_desc">导语</div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		layui.use('carousel',function(){
			var carousel = layui.carousel;

			carousel.render({
				elem:"#carousel",
				width:"100%",
				height:"425px",
				arrow:"hover",
				indicator:"none"
			})
		})
	})
</script>
{% endblock %}