{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '水墨丹青' %}{% endblock %}
{% block content %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/shuimodanqing.css' %}">
<link rel="stylesheet" href="{% static 'pc_front/css/swiper.min.css' %}">

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="layui-carousel" id="carousel" >
		<div carousel-item>
      {% for item in carousel.carouselitem.all %}
			<a href="{{item.url}}"><div class="carousel_div" style="background: url('/site_media/{{item.img}}');"></div></a>
      {% endfor %}
		</div>
	</div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="shuimo_list">
      <li><a href="{% url 'pc_front:index' %}">{% trans '首页' %}</a></li>
      <li><a href="#">{% trans '艺廊' %}</a></li>
      <li><a href="{% url 'pc_front:mingrentang' %}">{% trans '名人堂' %}</a></li>
      <li><a href="{% url 'pc_front:shuimoyixun' %}">{% trans '艺讯' %}</a></li>
      <li><a href="{% url 'pc_front:shuimowujie' %}">{% trans '无界' %}</a></li>
    </ul>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md12">
    <div class="shuimo_main">
      <div class="shuimo"></div>
      <div class="shufa"></div>
      <div class="yilang"></div>
      <div class="qita"></div>
      <div class="youhua"></div>
    </div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md1 layui-col-md-offset9 shuimo_more">
  {% trans 'More' %}
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="mingrentang_title">{% trans '名人堂' %}</div>
  <div class="mingrentang_desc">{% trans 'Hall of fame' %}</div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    {% for article in famous %}
      <div class="swiper-slide"><a href="{% url 'pc_front:article_detail' article.id %}"><img src="/site_media/{{article.cover}}" style="height: 180px;" /></a></div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md1 layui-col-md-offset9 shuimo_more">
  {% trans 'More' %}
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="mingrentang_title">{% trans '艺讯' %}</div>
  <div class="mingrentang_desc">{% trans 'Artistic Message' %}</div>
  </div>
</div>

<div class="layui-row shuimo_yixun_row">
<div class="layui-col-md4 layui-col-md-offset2">
  <div class="shuimo_yixun_left_img">
  </div>
</div>

  <div class="layui-col-md4">
    <ul class="shuimo_yixun_right_ul">
      <li>{% trans '热门艺讯' %}</li>
      {% for article in yixun %}
      <li><a href="{% url 'pc_front:article_detail' article.id %}">{{article.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md1 layui-col-md-offset9 shuimo_more">
  <a href="{% url 'pc_front:shuimoyixun' %}">{% trans 'More' %}</a>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="mingrentang_title">{% trans '无界' %}</div>
  <div class="mingrentang_desc">{% trans 'Unbounded' %}</div>
  </div>
</div>


<div class="layui-row shuimo_wujie_row">
  <div class="layui-col-md4 layui-col-md-offset2">
  <a href="{% url 'pc_front:article_detail' wujie.0.id %}">
    <div class="shuimo_wujie_left_img" style="background-image: url('/site_media/{{wujie.0.cover}}');">
    </div>
    <div class="shuimo_wujie_title">
    {{wujie.0.title}}
    </div>
  </a>
  </div>

  <div class="layui-col-md4">
  <a href="{% url 'pc_front:article_detail' wujie.1.id %}">
    <div class="shuimo_wujie_left_img" style="background-image: url('/site_media/{{wujie.1.cover}}');">
    </div>
    <div class="shuimo_wujie_title">
    {{wujie.1.title}}
    </div>
  </div>
  </a>
</div>

<div class="layui-row">
  <div class="layui-col-md1 layui-col-md-offset9 shuimo_more">
  {% trans 'More' %}
  </div>
</div>
{% endblock %}
{% endblock %}


{% block script %}
<style type="text/css">
.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
</style>
<script src="{% static 'pc_front/js/swiper.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		layui.use('carousel',function(){
			var carousel = layui.carousel;

			carousel.render({
				elem:"#carousel",
				width:"100%",
				height:"510px",
				arrow:"hover",
			})
		})

		layui.use('carousel',function(){
			var carousel = layui.carousel;

			carousel.render({
				elem:"#carousel2",
				width:"100%",
				height:"300px",
				arrow:"hover",
				indicator:"none",
			})
		})


    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;


    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
  });
	})
</script>
{% endblock %}