{% extends 'pc_front/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans '艺廊' %}{% endblock %}
{% block content %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'pc_front/css/sub_shuimodanqing.css' %}">
<script type="text/javascript" src="{% static 'pc_front/js/masonry.min.js' %}" ></script>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
  <div class="layui-carousel" id="carousel" >
	<div carousel-item>
	  {% for item in carousel.carouselitem_set.all %}
      <div class="carousel_div" style="background-image: url('/site_media/{{item.img}}');"></div>
      {% endfor %}
		</div>
	</div>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <ul class="shuimo_list">
      <li><a href="{% url 'pc_front:index' %}">{% trans '首页' %}</a></li>
      <li><a href="{% url 'pc_front:shuimoyilang' %}">{% trans '艺廊' %}</a></li>
      <li><a href="{% url 'pc_front:mingrentang' %}">{% trans '名人堂' %}</a></li>
      <li><a href="{% url 'pc_front:shuimoyixun' %}">{% trans '艺讯' %}</a></li>
      <li><a href="{% url 'pc_front:shuimowujie' %}">{% trans '无界' %}</a></li>
    </ul>
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md2 layui-col-md-offset2 yilang_title">
  {% trans '艺廊 Gallery' %}
  </div>
</div>

<div class="layui-row yilang_label">
  <div class="layui-col-md1 layui-col-md-offset2">
  {% trans '书法' %}
  </div>
  <div class="layui-col-md1">
  {% trans '水墨' %}
  </div>
  <div class="layui-col-md1">
  {% trans '油画' %}
  </div>
  <div class="layui-col-md1">
  {% trans '其它' %}
  </div>
</div>

<div class="layui-row">
  <div class="layui-col-md8 layui-col-md-offset2">
    <div class="container">
      <ul id="masonry">
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    layui.use('carousel',function(){
      var carousel = layui.carousel;

      carousel.render({
        elem:"#carousel",
        width:"100%",
        height:"510px",
        arrow:"hover",
      })
    })

    layui.use('carousel',function(){
      var carousel = layui.carousel;

      carousel.render({
        elem:"#carousel2",
        width:"100%",
        height:"300px",
        arrow:"hover",
        indicator:"none",
      })
    })


    // masorny
    var $container = $("#masorny")
    $container.
  })
</script>
{% endblock %}