{% extends 'backend/base.html' %}
{% load static %}
{% block title %}城市设置{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'backend/css/cate_setting.css' %}">
<div class="layui-row">
	<div class="layui-col-md1 layui-col-md-offset10"><a class="layui-btn" href="javascript:;" id="add_city" >添加城市</a></div>
</div>

<div class="layui-row cate_list">
	<div class="layui-col-md1 layui-col-md-offset1">编号</div>
	<div class="layui-col-md1">城市名称</div>
	<div class="layui-col-md6">区域</div>
	<div class="layui-col-md3">操作</div>
</div>

{% for c in city %}
<div class="layui-row cate_list">
	<div class="layui-col-md1 layui-col-md-offset1">{{forloop.counter}}</div>
	<div class="layui-col-md1">{{c.name}}</div>
	<div class="layui-col-md6">{% for area in c.area.all %}{{area.name}}{% endfor %}</div>
	<div class="layui-col-md3">
	<a href="#" class="layui-btn add_area">添加地区</a><a href="#" class="layui-btn">删除地区</a><a href="javascript:;" class="layui-btn layui-btn-primary modify_city" data="{{c.id}}">修改</a>
	<a href="javascript:;" class="layui-btn layui-btn-primary modify_city" data="{{c.id}}">删除</a>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#city_setting").addClass("layui-this")

		layui.use('layer',function(){
			var layer = layui.layer;
			$("#add_city").click(function(){
			layer.open({
				type:2,
				content:"{% url 'backend:add_city' %}",
				title:'添加/修改城市',
				area:['800px','500px']
			})
		})

			$(".modify_city").click(function(){
				var id = $(this).attr("data");
			layer.open({
				type:2,
				content:"/backend/add_city/?city_id="+id,
				title:'添加/修改城市',
				area:['800px','500px']
			})
		})
		})
	})
</script>
{% endblock %}