{% extends 'backend/base.html' %}
{% block title %}选择职位{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="layui-row">
<div class="layui-col-md8 layui-col-md-offset2">
<form class="layui-form" style="margin-top: 30px;" target="_parent" method="POST">
{% csrf_token %}
  
  <div class="layui-form-item">
  	<label class="layui-form-label">职位</label>
  	<div class="layui-input-block">
  		<select name="group_id" >
      <option value="">无</option>
  			{% for group in groups %}
  			<option value="{{group.id}}" {% if user.groups.all.0.id == group.id %}selected{% endif %}>{{group.name}}</option>
  			{% endfor %}
  		</select>
  	</div>
  </div>

  <input type="hidden" name="user_id" value="{{user.id}}">

  <div class="layui-form-item">
  	<div class="layui-input-block">
  		<button class="layui-btn" lay-submit>确定</button>
  	</div>
  </div>
</form>
</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		layui.use('form',function(){
			var form = layui.form;
			form.render()
		})
	})
</script>
{% endblock %}