{% extends 'backend/base.html' %}
{% block title %}添加管理员{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="layui-row">
<div class="layui-col-md10 layui-col-md-offset1">
<form class="layui-form" style="margin-top: 30px;" target="_parent" method="POST">
{% csrf_token %}
  <div class="layui-form-item">
  	<label class="layui-form-label">帐号</label>
  	<div class="layui-input-block">
  		<input type="text" name="username" class="layui-input" lay-verify="required" />
  	</div>
  </div>

  <div class="layui-form-item">
  	<label class="layui-form-label">密码</label>
  	<div class="layui-input-block">
  		<input type="password" name="password" class="layui-input" lay-verify="required" />
  	</div>
  </div>
  

  <div class="layui-form-item">
  	<label class="layui-form-label">重复密码</label>
  	<div class="layui-input-block">
  		<input type="password" name="password_re" class="layui-input" lay-verify="required" />
  	</div>
  </div>

  <div class="layui-form-item">
  	<div class="layui-input-block">
  		<button class="layui-btn" lay-submit>确定</button>
  	</div>
  </div>
</form>
</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    layui.use('form',function(){
      var form = layui.form;
      form.render()
    })
  })
</script>
{% endblock %}