*{
	margin: 0px;
	padding: 0px;
}
.layui-fluid{
	padding: 0px;
}
.header{
	height: 60px;
	line-height: 60px;
	background-color: #393D49;
}
.title{
	color:white;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	width:0;
	overflow:hidden;
	clear:both;
}
.side-nav{
	height: 1500px;
}
.layui-nav-tree{
	height: 100%;
}